body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

header {
	padding: 20px;
	background-color: var(--header-bg-color);
	color: var(--header-text-color);
}

main {
	padding: 20px;
}
