*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#desktop {
    width: 100%;
    height: 100vh;
    background-image: url('./img/image1.jpg');
    background-position: center;
    background-size: cover;

    display: grid;
    place-items: center;
}

#file_explore {
    width: 75%;
    height: 85%;
    border-radius: 5px;

    background-color: #dbe0e8ba;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);

    display: grid;
    grid-template-rows: .3fr .5fr 5fr;
}

.title_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tabs {
    min-width: 300px;
    width: 100%;
}

#buttons_window {
    width: fit-content;

    display: flex;
    flex-direction: row;
}

#min, #max, #close {
    width: 35px;
    height: 100%;

    display: grid;
    place-items: center;

    transition-duration: .2s;
}

#min:hover, #max:hover {
    background-color: rgba(209, 209, 209, 0.7);
    transition-duration: .2s;
}

#close:hover {
    color: white;
    background-color: rgba(222, 0, 0, 0.822);
    border-radius: 0 4px 0 0;
    transition-duration: .2s;
}

.tools_bar {
    width: 100%;
    height: 100%;

    background-color: #dbe0e884;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
}

.explore {
    width: 100%;
    height: 100%;

    border-radius: 0 0 5px 5px;

    background-color: white;
}

#nav_bar {
    width: 100%;
    height: 50px;
    padding: 5px 8px;

    display: flex;
    flex-direction: row;
    gap: 5px;
}

#nav_buttons {
    width: fit-content;
    height: 100%;

    padding: 5px 0;

    display: flex;
    flex-direction: row;
}

.button_nav {
    width: 35px;
    height: 100%;
    border-radius: 4px;

    font-size: 1.1rem;

    display: grid;
    place-items: center;

    transition-duration: .2s;
}

.button_nav:hover {
    background-color: rgb(229, 243, 255);
    border: 1px solid rgb(148, 205, 255);
    transition-duration: .2s
}

#recent {
    width: 25px;
    font-size: 1rem;
}

#direction_bar {
    width: calc(100% - 305px);
    height: 100%;
    border: 1px solid rgba(128, 128, 128, 0.5);

    display: flex;
    flex-direction: row;
}

#direction {
    width: calc(100% - 76px);
}

#direction_bar .buttons {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#previous_locations, #reload {
    width: 38px;
    height: 100%;

    font-weight: lighter;
    color: #707070d0;

    display: grid;
    place-items: center;
}

#previous_locations:hover, #reload:hover {
    background-color: rgb(229, 243, 255);
    border: 1px solid rgb(148, 205, 255);
}

#search_bar {
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 0 10px;

}

.content {
    width: 100%;
    height: calc(100% - 50px);

    display: flex;
    flex-direction: row;
}

aside {
    width: 200px;
    height: 100%;

    border-right: 1px solid rgba(128, 128, 128, 0.5);
}

#files {
    width: calc(100% - 200px);
    height: 100%;
}